.vs
Proyecto1B/PADRON_COMPLETO.txt
/Proyecto1B/PADRON_COMPLETO.txt
.Proyecto1B/PADRON_COMPLETO.txt
PADRON_COMPLETO.txt
Proyecto1B/PADRON_INCOMPLETO.txt
/Proyecto1B/PADRON_INCOMPLETO.txt
.Proyecto1B/PADRON_INCOMPLETO.txt
PADRON_INCOMPLETO.txt